@page "/posts"
@using APILibrary
@using BlazorWeb.Services
@inject IPostService PostService
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h3>All Posts</h3>

@if (_posts.Count == 0) {
    <p>Loading posts...</p>
} else {
    <ul>
        @foreach (var post in _posts) {
            <li>
                <a @onclick="() => GoToPostDetails(post.Id)">@post.Title - @GetUsername(post.AuthorId)</a>
            </li>
        }
    </ul>
}

@code {
    private List<PostDto> _posts = new();
    private Dictionary<int, string> _usernames = new();

    protected override async Task OnInitializedAsync() {
        var postsQueryable = PostService.GetAll();
        if (postsQueryable != null) {
            _posts = postsQueryable.ToList();
        }

        foreach (var post in _posts) {
            if (!_usernames.ContainsKey(post.AuthorId)) {
                var user = await UserService.GetAsync(post.AuthorId);
                if (user != null) {
                    _usernames[post.AuthorId] = user.Username;
                }
            }
        }
    }

    private string GetUsername(int authorId) {
        if (_usernames.TryGetValue(authorId, out var username)) {
            return username;
        }
        return "Unknown User";
    }

    private void GoToPostDetails(int postId) {
        NavigationManager.NavigateTo($"/posts/{postId}");
    }

}